<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <title>Pizza Planet</title>
</head>
<body>
    <div class="p-4">
        <h2>Welcome to Pizza Planet, {{user.first_name}}!!</h2>
        <a class="btn btn-success" href="/new/pizza ">Create Pizza</a>
        <a class="btn btn-dark" href="/user/logout">Logout</a>
    </div>

    <div class="p-3">
        <h3>Pizza Creations:</h3>
        <table class="table table-light table-striped table-hover table-sm text-center">
            <thead>
                <tr>
                    <th>Baker</th>
                    <th>Dough</th>
                    <th>Sauce Base</th>
                    <th>Cheese</th>
                    <th>Meat</th>
                    <th>Vegetables</th>
                    <th>Actions</th>
                </tr>
            </thead>

            <tbody>
                {% for pizza in pizza %}
                <tr>
                    <td>{{pizza.baker}}</td>
                    <td>{{pizza.dough}}</td>
                    <td>{{pizza.sauce_base}}</td>
                    <td>{{pizza.cheese}}</td>
                    <td>{{pizza.meat}}</td>
                    <td>{{pizza.vegetables}}</td>
                    <td>
                        <a href="/single_pizza/{{pizza.id}}" class="btn btn-success">View Pizza</a>
                        {% if session['user_id'] == pizza.creator.id %}
                            <a href="/edit/pizza/{{pizza.id}}" class="btn btn-secondary">Edit Pizza</a>
                            <a href="/pizza/delete/{{pizza.id}}" class="btn btn-danger">Delete Pizza</a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>