<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <style>
        .margin {
            margin-left: 30px;
            margin-top: 25px;
            margin-bottom: 25px;
        }
        .red-text {
            color: red;
        }
        .checkbox-margin {
            margin-bottom: 10px;
        }
    </style>
    <title>Create Pizza</title>
</head>
<body>
    <div>
        <div class="margin">
            <h1>Create Your Pizza</h1>
            <a class="btn btn-warning" href="/dashboard">Return Home</a>
            <a class="btn btn-dark" href="/user/logout">Logout</a>
        </div>

        <div class="margin">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <p class="red-text">{{message}}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>

        <form action="/validate/pizza" method = "POST">
            <div class="margin">
                <div class="col-md-5">
                    <label for="baker">Baker:</label>
                    <input type="text" name="baker" id="baker" class="form-control">
                </div>
                <div class="checkbox-margin">
                    <label for="dough">Dough:</label><br>
                    <input type="radio" name="dough" value="Normal_Crust"> Normal<br>
                    <input type="radio" name="dough" value="Thin_Crust"> Thin Crust<br>
                    <input type="radio" name="dough" value="Thick_Crust"> Thick Crust<br>
                    <input type="radio" name="dough" value="Stuffed_Crust"> Stuffed Crust<br>
                </div>
                <div class="col-md-6 checkbox-margin">
                    <label for="sauce" class="form-label">Sauce:</label><br>
                    <div class="row">
                        <div class="col-md-3">
                            <input type="checkbox" name="sauce_base" value="Red"> Red Sauce
                        </div>
                        <div class="col-md-3">
                            <input type="checkbox" name="sauce_base" value="Spicy_Red"> Spicy Red Sauce
                        </div>
                        <div class="col-md-3">
                            <input type="checkbox" name="sauce_base" value="White"> White Sauce
                        </div>
                        <div class="col-md-3">
                            <input type="checkbox" name="sauce_base" value="Barbecue"> Barbeque Sauce
                        </div>
                        <div class="col-md-3">
                            <input type="checkbox" name="sauce_base" value="Other:"> Other:
                            <input type="text" name="sauce_base" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="col-md-6 checkbox-margin">
                    <label for="cheese" class="form-label">Cheese:</label><br>
                    <div class="row">
                        <div class="col-md-3">
                            <input type="checkbox" name="cheese" value="Normal"> Normal Cheese
                        </div>
                        <div class="col-md-3">
                            <input type="checkbox" name="cheese" value="Extra_Cheese"> Extra Cheese
                        </div>
                        <div class="col-md-3">
                            <input type="checkbox" name="cheese" value="Shaved_Parmesean"> Shaved Parmesean
                        </div>
                        <div class="col-md-3">
                            <input type="checkbox" name="cheese" value="Feta"> Feta Cheese
                        </div>
                    </div>
                </div>
                
                <div class="col-md-6 checkbox-margin">
                    <label for="meat" class="form-label">Meat:</label><br>
                    <div class="row">
                        <div class="col-md-3">
                            <input type="checkbox" name="meat" value="Pepperoni"> Pepperoni
                        </div>
                        <div class="col-md-3">
                            <input type="checkbox" name="meat" value="Sausage"> Sausage
                        </div>
                        <div class="col-md-3">
                            <input type="checkbox" name="meat" value="Bacon"> Bacon
                        </div>
                        <div class="col-md-3">
                            <input type="checkbox" name="meat" value="Ham"> Ham
                        </div>
                        <div class="col-md-3">
                            <input type="checkbox" name="meat" value="Meatballs"> Meatballs
                        </div>
                        <div class="col-md-3">
                            <input type="checkbox" name="meat" value="Anchovies"> Anchovies
                        </div>
                        <div class="col-md-3">
                            <input type="checkbox" name="meat" value="Chicken"> Chicken
                        </div>
                        <div class="col-md-3">
                            <input type="checkbox" name="meat" value="Ground_Beef"> Ground Beef
                        </div>
                        <div class="col-md-3">
                            <input type="checkbox" name="meat" value="Salami"> Salami
                        </div>
                        <div class="col-md-3">
                            <input type="checkbox" name="meat" value="No_Meat"> None
                        </div>
                    </div>
                </div>
                
                <div class="col-md-6 checkbox-margin">
                    <label for="vegetables" class="form-label">Vegetables:</label><br>
                    <div class="row">
                        <div class="col-md-3">
                            <input type="checkbox" name="vegetables" value="Mushrooms"> Mushrooms
                        </div>
                        <div class="col-md-3">
                            <input type="checkbox" name="vegetables" value="Green_Peppers"> Green Peppers
                        </div>
                        <div class="col-md-3">
                            <input type="checkbox" name="vegetables" value="Onions"> Onions
                        </div>
                        <div class="col-md-3">
                            <input type="checkbox" name="vegetables" value="Olives"> Olives
                        </div>
                        <div class="col-md-3">
                            <input type="checkbox" name="vegetables" value="Banana_Peppers"> Banana Peppers
                        </div>
                        <div class="col-md-3">
                            <input type="checkbox" name="vegetables" value="Jalapenos"> Jalapenos
                        </div>
                        <div class="col-md-3">
                            <input type="checkbox" name="vegetables" value="Spinach"> Spinach
                        </div>
                        <div class="col-md-3">
                            <input type="checkbox" name="vegetables" value="Tomoatoes"> Tomatoes
                        </div>
                        <div class="col-md-3">
                            <input type="checkbox" name="vegetables" value="Pineapple"> Pineapple
                        </div>
                        <div class="col-md-3">
                            <input type="checkbox" name="vegetables" value="Artichoke"> Artichoke
                        </div>
                        <div class="col-md-3">
                            <input type="checkbox" name="vegetables" value="No_Vegetables"> None
                        </div>
                    </div>
                </div>
                
            </div>
            <button type="submit" class="btn btn-success mt-2 border border-1 margin">Create</button>
        </form>
    </div>
</body>
</html>
